# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Jupyter / Quarto
.ipynb_checkpoints/
.quarto/

# Quarto render output
_site/

# Logs
*.log

# VSCode
.vscode/

# R
.Rhistory
.RData
.Rproj.user/

# Mac/Linux temp
*~